version: 2

updates:
  # GitHub Actions
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      all-dependencies:
        update-types:
          - major
          - minor
          - patch
